.dashboard__container {
  display: flex;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  line-height: 1.67 !important;
  font: 500 16px sans-serif;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;

  
}
.dashboard__sidebar {
  background-color: #1a47a0;
  width: 40%;
  
}
.dashboard__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 700px;
}
.dashboard__content__body {

  margin-left: 7%;
  width: 65%;
  
}
.dashboard__content__side {

  margin-left: 5%;
  width: 35%;
  
}
.people__header{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  
}
.people__header > h2 {
  margin-left: 5%;
  font-weight: 400;
}


.dashboard__content__spaces {
  width:100%;
  height: 100%;
  border-bottom: 1px solid #cccccc;
  min-width: 700px;
}
.spaces__body {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.spaces__sidebar{
  width: 15%;
  min-width: 300px;
  height: 100%;
  border-right: 1px solid #cccccc;
}