.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3); }

.modal-window {
  position: fixed;
  background-color: #fff;
  border-radius: 5px;
  width: 840px;
  height: 450px;
  margin: 0 auto;
  margin-top: -225px;
  margin-left: -420px;
  background: #f5f5f5;
  left: 50%;
  top: 50%; }
  .modal-window button {
    box-sizing: border-box;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-variant: normal;
    font-weight: normal;
    height: 2.14285714em;
    line-height: 1.42857143;
    padding: 4px 10px;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    margin-left: 10px; }
    .modal-window button.accept-button {
      background: #3572b0;
      border-color: transparent;
      color: white;
      font-weight: bold; }

.modal-body {
  height: 340px;
  padding: 10px;
  box-sizing: border-box;
  background: white;
  margin: 0; }
