.inputDashboard {
    width: 230px;
    background-color: #fafbfc;
    border-radius: 2px;
    border: 2px solid #cccccc;
    height: 20px;
    padding: 6px;


}
.inputDashboard:hover {


    background-color: #ebecf0;
}
.inputDashboard:active {
    background: #dfdfdf;
    }
.inputDashboard:focus {
        background: white;
}
