.input {
    
    background-color: #fafbfc;
    border-radius: 2px;
    border: 2px solid #cccccc;
    font-size: 16px;
    width: 15%;
    height: 35px;
    padding-left: 1%;
    line-height: 1.67 !important;
    font: 400 16px sans-serif;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
}
.input:hover {

    
    background-color: #ebecf0;
}
.input:active {
    background: #dfdfdf;
    background: white;
    
    }
.input:focus {
        background: white;
}