@import '../../../globalStyles/variables.scss';

.auth__input {
  background-color: #fafbfc;
  border-radius: 5px;
  border-style: solid;
  border-color: #f4f5f7;
  padding: 7px;
  margin-top:24px;
}
.auth__input.button {
  border: 0;
  height: 39px;
  margin-top: 24px;
  background-color: $grayLight;
  cursor: pointer;
}