.buttons__container {
  display: flex;
  color: #777; }

.buttons__item {
  height: 28px;
  width: 38px;
  font-size: 13px;
  text-align: center;
  line-height: 2.3;
  border: 1px solid #ffffff; }

.buttons__item:hover {
  cursor: pointer;
  background: #eaecef;
  border: 1px solid #777;
  border-radius: 3px; }
