.watch-modals-wrapper{
    width: 400px;
    height: 250px;
    position: absolute;
    z-index: 500;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
    top: 80px;
    right: 80px;
    padding: 10px 8px;
    input[type=checkbox] {
        background-color: #fff;
        border: 1px solid #ccc;
    }
}
.watch-modals-wrapper:before{
    border-color: #ccc transparent;
    border-style: solid;
    border-width: 0 8px 8px;
    content: "";
    position: absolute;
    right: 90px;
    top: -9px;
}
.watch-modals-wrapper:after{
    border-color: #ccc transparent;
    border-style: solid;
    border-width: 0 8px 8px;
    content: "";
    right: 90px;
    top: -9px;
    position: absolute;
    border-bottom-color: #fff;
    top: -8px;
}
