$primaryColor: #0044a9;  
$grey: #707070;
$lightGrey: #ccc;
$blueText: #42526E;
$greyBlog: #F4F5F7;
$greyHover: #EAECF0;
$primalHover: rgb(8,54, 124);
// $primaryColor: #0747A6;
$blue: #1c80ff;
// $blueText: #0255d0;
$blueLight: #d5e4fc;
$gray:  #6c788f;
$grayButtons: #777;
$grayBackground:  #eaecef;
$grayLight: #f4f5f7;
$grayDark: #475774;
$white: #ffffff;
$black: #333333;
