@import 'globalStyles/variables.scss';

.pages-list {
  font-size: 15px;

  &-title {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    padding-top: 10px;
    color: $grayDark;
  }

  &-item {
    display: flex;
    padding: 10px 0 10px 20px;
    text-decoration: none;
    color: $grayDark;

    &:hover {
      background: $grayBackground;
      color: $primaryColor;
      cursor: pointer;
    }

    &.current {
      background: $grayBackground;
      color: $primaryColor;
    }

    &-name {
      margin-left: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
