.pages-list-title {
  text-transform: uppercase; }

.pages-list-item {
  display: flex;
  padding: 10px 25px; }
  .pages-list-item:hover {
    background: #eaecef;
    color: #0044a9;
    cursor: pointer; }
  .pages-list-item-name {
    margin-left: 20px; }
