.pages-list-title {
  text-transform: uppercase; }

.pages-list-item {
  display: flex;
  padding: 10px 25px;
  text-decoration: none;
  color: #475774; }
  .pages-list-item:hover {
    background: #eaecef;
    color: #0044a9;
    cursor: pointer; }
  .pages-list-item.current {
    background: #eaecef;
    color: #0044a9; }
  .pages-list-item-name {
    margin-left: 20px; }
