@import 'globalStyles/variables.scss';

.auth__main {
  background-color: $primaryColor;
  margin: 0;
  padding: 0;
  height: 100%;
}

.auth__content {
  min-height: 500px;
  height: 100vh;
  width: 400px;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
}

.auth__login {
  background-color: $white;
  border-radius: 5px;
  padding: 48px;
  display: flex;
  flex-direction: column;
}

.auth__footer {
  color: $black;
  text-align: center;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    }
}

.auth__header h2 {
  text-align: center;
  color: white;
  margin-top: 48px;
}
