.dashboard-work {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  padding: 20px; }
  .dashboard-work .work-header {
    padding: 8px;
    display: flex;
    justify-content: space-between; }
    .dashboard-work .work-header .work-filter {
      align-self: center; }
  .dashboard-work .work-body ul {
    display: flex;
    padding: 0;
    list-style: none;
    box-shadow: 0px 3px 0px 0px #0000002e; }
    .dashboard-work .work-body ul li {
      font-weight: 500;
      padding: 4px 8px;
      cursor: pointer; }
      .dashboard-work .work-body ul li:hover {
        color: blue; }
