.space-settings-page {
  font-size: 14px; }
  .space-settings-page h1 {
    color: #333;
    font-weight: normal;
    margin: 0.6rem;
    text-transform: none; }
  .space-settings-page img {
    border-radius: 5px; }
  .space-settings-page h2.space-settings-page-header {
    font-weight: normal;
    font-size: 28px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    padding: 25px 30px 30px 50px; }
