.space-settings-page {
  font-size: 14px; }
  .space-settings-page h1 {
    color: #333;
    font-weight: normal;
    margin: 0.6rem;
    text-transform: none; }
  .space-settings-page img {
    border-radius: 5px; }
  .space-settings-page h2.space-settings-page-header {
    font-weight: normal;
    font-size: 28px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    padding: 25px 30px 30px 50px; }
  .space-settings-page .nav-bar {
    display: flex;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #f4f5f7; }
    .space-settings-page .nav-bar .nav-bar-tab {
      padding: 9px 10px;
      cursor: pointer;
      color: #333;
      text-transform: capitalize;
      text-decoration: none; }
      .space-settings-page .nav-bar .nav-bar-tab:hover {
        text-decoration: underline; }
    .space-settings-page .nav-bar .active-link {
      border-bottom: 3px solid #205081;
      font-weight: bold; }
