.space-settings-page {
  font-size: 14px; }
  .space-settings-page h1 {
    color: #333;
    font-weight: normal;
    margin: 0.6rem;
    text-transform: none; }
  .space-settings-page img {
    border-radius: 5px; }
