@import "src/globalStyles/variables.scss";

.nav-button-selected {
  background-color: #073c8d;
}


.sidebar-container{
  .nav-button{
    height: 40px;
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-bottom: 5px;
    list-style: none;
    justify-content: center;
    span {
      padding: 7px 12px 7px;
    }
    span  > i {
      margin-right: 15px;
    }
  }
  .round-button{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius:100%;
    padding:0;
    margin:0 0 5px 0;
    height: 50px;
    width: 50px;
    a{
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
  }
  .minimize-button{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    padding:0;
    height: 50px;
    width: 50px;
    a{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }


  .full-button{
    width: 98%;
    p, i{
      float:left;
    }
    a{
      display: flex;
      align-content: center;
      align-items: center;
      width: 100%
    }
  }

.icon-navigation-wrapper{
  .tabs-wrapper{
    width: 100%;
  }
}
}
