@import "src/globalStyles/variables.scss";

.sidebar {
  .nav-button {
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    list-style: none;
    justify-content: center;

    span {
      padding: 7px 12px 7px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      > i {
        margin-right: 15px;
        width: 14px;
      }
    }
  }
  .round-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100%;
    padding: 0;
    margin: 0 0 5px 0;
    height: 50px;
    width: 50px;
    color: white;

    a {
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
  }
  .minimize-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    padding: 0;
    height: 50px;
    width: 50px;
    a {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .full-button {
    width: 98%;
    p,
    i {
      float: left;
    }
    a {
      display: flex;
      align-content: center;
      align-items: center;
      width: 100%;
    }
  }

  .min-sidebar {
    .nav-button-selected {
      background-color: $greyHover;
    }

    .nav-button {
      align-items: center;
      height: 40px;
      width: 40px;
      color: white;
      cursor: pointer;

      &-only-icons {
        color: white;
        cursor: pointer;
      }

      &:hover {
        background-color: $primalHover;
      }

      a,
      i {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .full-sidebar {
    .nav-button {
      color: $grayDark;

      &:hover {
        background-color: $greyHover;
      }

      &-selected {
        background-color: $greyHover;
        color: $primaryColor;
      }

      &-only-icons {
        align-self: center;
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $grayDark;

        &:first-of-type {
          margin-top: 20px;
        }

        &:hover {
          background-color: $greyHover;
        }
      }

      &.minimize-button {
        width: 100%;

        &:first-of-type {
          margin-top: 3rem;
        }
      }
    }
  }
}
