@import "src/globalStyles/variables.scss";

.space-settings-page{
  ul.nav-bar{
    list-style: none;
    display: flex;
    margin: 0;
    padding:0;
    border-bottom: 1px solid $grayLight;
    li{
      padding: 9px 10px;
      cursor: pointer;
      color: #333;
      text-transform: capitalize
    }

    li.active-link{
      border-bottom: 3px solid #205081;
      font-weight: bold;
    }
  }
}