.buttons-container {
  display: flex;
  align-items: center;
  color: #777; }

.buttons-item {
  box-sizing: border-box;
  height: 33px;
  width: 38px;
  font-size: 13px;
  text-align: center;
  line-height: 2.3;
  border: 1px solid #ffffff; }
  .buttons-item.restrictions {
    text-align: center;
    vertical-align: center;
    color: #6c788f;
    margin-left: 5px; }
    .space-page-header .buttons-item.restrictions i {
      width: 30px;
      height: 20px;
      margin: 0; }
  .buttons-item:hover {
    cursor: pointer;
    background: #eaecef;
    border: 1px solid #777;
    border-radius: 3px; }
