.group{
    overflow: scroll;
    width: 100%;  
    td.group-modal-label{
        padding-right: 20px;
        padding-bottom: 10px;
    }
    .group-modal-label{
        text-align: right;
        vertical-align: bottom;
        span{
            color: red;
            font-size: 18px;
    }
  }
  .modal-footer{
    display: flex;
    align-items: center;
  }
}
#name, #description, #user{
    width: 70%;
}
.modal-footer-group{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }
.modal-footer-group button{
    border: none;
    margin: 0 5px;
}
.modal-header-group{
    text-align: center;
}
.group-user-wrapper{
    margin-top: 10px;
}
.groups-user-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}