.wizard-modal-body{
    display: flex;
    padding: 10px;
    height: 100%;
    justify-content: space-between;

    .wizard-modal-description{
        display: flex;
        max-width: 280px;
        min-width:200px;
        flex-direction: column;
        h3{
            margin: 0;
            color: #333333;
            font-weight: bold;
            font-size: 20px;
        }
    }
}
.wizzard-modal-form{
    width: 50%;
    margin-top: 4px;
    label {
      color: #707070;
      max-width: 380px;
      min-width: 80px;
      width: 27%;
      text-align: right;
    }
    
   input[type=text], select, textarea{
    background: white;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    margin-left: 1.2rem;
    width: 70%;
    padding: 4px 5px;
    color: #333;
    line-height: 1.4285714285714;
    vertical-align: baseline;
  }
   input, select{
    height: 2.14285714em;
  }

  input[type=checkbox]{
    margin-left: 1.2rem;
  }
   textarea{
    overflow-y: auto;
    height: 90px;
  }
   .field-group{
    display: flex;
    margin-bottom: 0.7rem;
    align-items: center;
    .field-group-for-me {
      text-align: left;
    }
  }
}