
.edit-space-details-form{
  font-size: 16px;

  label {
    color: #707070;
    max-width: 130px;
    min-width: 75px;
    width: 20%;
    text-align: right;
  }
  .space-edit-avatar {
    color: #ffffff;
    background: #1c80ff;
    padding: 7px 9px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    width: 15px;
    height: 20px;
  }

  input, select, textarea{
    background: white;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    max-width: 250px;
    margin-left: 1.2rem;
    width: 100%;
    padding: 4px 5px;
    color: #333;
    line-height: 1.4285714285714;
    vertical-align: baseline;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
  }
  .select {
    margin-left: 17px;
    width: 250px;
    box-sizing: border-box;
    select {
      margin: 0;
    }
  }
  .select::after {
    line-height: 1.8;
  }
  input, select{
    height: 2.14285714em;
  }


  textarea{
    overflow-y: auto;
    height: 90px;

  }


  .field-group{
    display: flex;
    margin-bottom: 0.7rem;
    align-items: center;
  }

  .avatar-field{
    align-items: center;
    label{
      margin-top: 0;
    }
    img{
      margin-left: 1.2rem;
      margin-right: 0.5rem;
    }
  }

  .btn-group{
    display: flex;
    margin-top: 0.7rem;
    padding-left: 1rem;

    .save-btn, .delete-btn{
      margin: 5px;
      box-sizing: border-box;
      background: #f5f5f5;
      border: 1px solid #ccc;
      border-radius: 3.01px;
      color: #2a67a5;;
      cursor: pointer;
      display: inline-block;
      height: 2.14285714em;
      vertical-align: middle;
      padding: 4px 10px;
      text-decoration: none;
      vertical-align: baseline;
      white-space: nowrap;
    }
    .delete-btn:hover {
      background: #eae6e6;
    }
    .save-btn:hover {
      background: #3880c9;
    }
    button[type=submit]{
      background: #2a67a5;
      border-color: transparent;
      color: #fff;
      font-weight: bold;
    }
  }

  h2{
    font-size: 24px;
    font-weight: normal;
    line-height: 1.25;
    text-transform: none;
    margin:0;
  }
}
.space-editing-avatar{
  opacity: 1;
  &:hover {
    opacity: 0.9;
  }
}