.buttonDashboard {
  height: 35px;
  background-color: #f5f5f5;
  border-radius: 2px;
  border: 1px solid #cccccc;
  font-size: 16px;
  width: 180px;
  line-height: 1.67 !important;
  font: 400 16px sans-serif;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
}
.buttonDashboard:hover {

  border: 1px solid #8a8a8a;
  background-color: #d6d6d6;
}
.buttonDashboard:active {
  background: #dfdfdf;
  background: linear-gradient(#dfdfdf, #e3e3e3);
  border: solid 1px #959595;
  box-shadow: inset 0 10px 15px 0 #c4c4c4;
  top:2px;}
.buttonDashboard:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
.spaces__header .buttonDashboard{
  margin-right: 20px;
}
