 .space-permissions-table {
        border-collapse: collapse;
        border: 1px solid #ccc; 
        width: 100%;
        color: #333;
        font-size:14px;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }