@import "globalStyles/variables.scss";

.dashboard-activity {
  display: flex;
  height: 100%;
  .dashboard-activity-header {
    padding: 8px;
  }
  .content-header {
    padding: 4px 8px;
  }
  .dashboard-activity-body {
    margin-left: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    .dashboard-activity-nav-bar {
      margin: 20px 0;
      padding: 4px 0;
      list-style: none;
      box-shadow: 0px 3px 0px 0px #ccc;
      a.active-link {
        box-shadow: 0px 3px 0px 0px rgb(0, 82, 204);
        color: rgb(0, 82, 204);
      }
      a {
        font-weight: 500;
        padding: 4px 8px;
        cursor: pointer;
        text-decoration: none;
        color: black;
        cursor: pointer;
        &:hover {
          color: rgb(0, 82, 204);
        }
      }
    }
  }

  .dashboard-content-side {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    box-shadow: -1px 0px #d1d1d1;
    img {
      width: 100px;
    }
    .side-header {
      display: flex;
      width: 100%;
      padding-bottom: 40.2px;
      padding-top: 3px;
      margin-bottom: 20px;
      justify-content: center;
      button {
        align-self: center;
      }
    }
    .side-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin: 10px 0 0;
      }
    }
  }
}
.update-items-list {
  display: flex;
  overflow: auto;
}

.update-items {
  padding: 10px;
}
