@import 'src/globalStyles/variables.scss'; 

.search-page{
  display: flex;
  flex-direction: column;
  width: 100%;

  &-header{
  
    border-bottom: 1.5px solid #ccc;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 20px;
    height: 80px;
    margin: 0;
    width: 100%;
    
    &-text{
      font-size: 2rem;
      color: $black;
      padding-left: 2.5rem;
      display: block;
      width: 20%;
      min-width: 100px;
    }

    
      button{
        cursor: pointer; 
        display: inline-block;
        font-size: 16px;
        height:  2.25285714em;
        width:   2.2285714em;
        line-height: 1.42857143em;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: white;
        color: $gray;
        margin-left:0.5rem;
        outline: none;

        width: 38px;
        height: 34px;

          &:hover{
            background-color: $grayLight;
          }
        }
    }

    input{
      max-width: 600px;
      min-width: 200px;
      font-size: 16px;
      width: 100%;
      height: 2.14285714em;
      line-height: 1.4285714285714;
      padding: 4px 5px;
      border: 1px solid #ccc;
      border-radius: 3.01px;
      box-sizing: border-box;
      margin: 0;
      vertical-align: baseline;
      outline: none;
    }
  
}