.comment-wrapper {
    padding: 10px 0 10px 0;
    margin: 0 0 -1px 0;
    position: relative;
	word-wrap: break-word;
	display: flex;
	flex-direction: row;
	.comment-body-content p {
		margin: 0px;
	}
	h4.comment-first-last-names {
		padding-bottom: 8px;
		padding-top: 1px;
		margin: 0px;
	}
	h4.comment-first-last-names a {
		color: #3572b0;
		text-decoration: none;
	}
	.comment-body a {
		text-decoration: none;
	}
}