.link {
  color: #3572b0;
  cursor: pointer; }

#space-logo {
  max-height: 48px;
  max-width: 48px; }

.space-details-table {
  padding-top: 20px;
  padding-right: 20px;
  width: 100%;
  min-width: 200px; }
  .space-details-table td:nth-child(odd) {
    text-align: right;
    color: #707070;
    width: 130px;
    vertical-align: top; }
  .space-details-table td:nth-child(even) {
    text-align: left;
    padding-left: 1rem; }
  .space-details-table td.avatar-cell {
    display: flex;
    align-items: center; }
  .space-details-table td.avatar-label-cell {
    vertical-align: middle; }
  .space-details-table td {
    padding: 5px 0 5px 0; }
