.warning-message {
  border-radius: 3px;
  color: #333;
  line-height: 20px;
  margin: 20px 0 0 0;
  overflow-wrap: break-word;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 40px;
  padding-top: 20px;
  position: relative;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-word;
  background: #fff;
  border: 1px solid #f6c342; }
  .warning-message:before {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
    background-color: #f6c342; }
  .warning-message:after {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    left: 15px;
    line-height: 1;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    color: #707070;
    content: "!"; }
  .warning-message p {
    margin: 2px; }
  .warning-message p.title {
    font-weight: bold; }

.btn-group {
  margin-top: 2rem; }
  .btn-group button {
    box-sizing: border-box;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    color: #2a67a5;
    cursor: pointer;
    display: inline-block;
    height: 2.14285714em;
    line-height: 1.42857143;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap; }
  .btn-group button[type=submit] {
    background: #2a67a5;
    border-color: transparent;
    color: #fff;
    font-weight: bold; }
