@import 'globalStyles/variables.scss';

.page-container {
  margin: 10px 70px;
}

.page-main {

  &-title {
    color: $black;
    font-size: 28px;
  }

  &-info {
    margin-left: 5px;

    &-container {
      display: flex;
      margin-top: 20px;
      align-items: center;
    }

    &-image {
      width: 45px;
      height: 45px;

      & img {
        width: 100%;
        border-radius: 50%;
      }
    }

    &-author {
      font-weight: 600;
      padding: 2px;
    }

    &-time {
      color: $gray;
      font-size: 13px;
      padding: 2px;
    }
  }

  &-content {
    margin: 25px auto;
  }
}

