.page-container {
  padding: 10px 30px 10px 70px; }

.page-loader {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%; }
  .page-loader .sweet-loading {
    align-self: center; }
