
.sidebar-container{
  .minimize-dashboard-wrapper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    text-align: left;
    margin: 0;
    height: 100%;
    width: 70px;
    .icon-buttons-wrapper{
      width: 100%;
    }
    .icon-navigation-wrapper {
      height: 45%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .top-icons{
      height: 20%;
    }
    .bottom-icons{
      height: 30%;
    }
  }
  .sidebar-wrapper{
    .top-icons{
      height: 40%;
      margin-top: 10px;
    }
    .bottom-icons{
      height: 55%;
    }
  }
  .bottom-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }
  .icon-buttons-wrapper{
    .nav-button{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .nav-button{
      a{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      i{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

