.sidebar-container .minimize-dashboard-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  text-align: left;
  margin: 0;
  height: 100%;
  width: 70px; }
  .sidebar-container .minimize-dashboard-wrapper .icon-buttons-wrapper {
    width: 100%; }
  .sidebar-container .minimize-dashboard-wrapper .icon-navigation-wrapper {
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .sidebar-container .minimize-dashboard-wrapper .top-icons {
    height: 20%; }
  .sidebar-container .minimize-dashboard-wrapper .bottom-icons {
    height: 30%; }

.sidebar-container .sidebar-wrapper .top-icons {
  height: 40%;
  margin-top: 10px; }

.sidebar-container .sidebar-wrapper .bottom-icons {
  height: 55%; }

.sidebar-container .bottom-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column; }

.sidebar-container .icon-buttons-wrapper .nav-button {
  display: flex;
  justify-content: center;
  align-items: center; }

.sidebar-container .icon-buttons-wrapper .nav-button a {
  display: flex;
  justify-content: center;
  align-items: center; }

.sidebar-container .icon-buttons-wrapper .nav-button i {
  display: flex;
  justify-content: center;
  align-items: center; }

.sidebar-container .icon-buttons-wrapper .nav-button.toggle-add-page-modal-btn {
  color: white; }
