@import "src/globalStyles/variables.scss";

.min-sidebar {
  padding: 0 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 40px;
      margin: 29px auto 15px;

      &:hover {
        background-color: #08367C;
        border-radius: 50%;
      }
    }
  }

  .icon-navigation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }
}

.sidebar.minimized .min-sidebar {
  width: 100%;

  .top-icons img:hover {
    background-color: $greyHover;
  }

  .nav-button {
    color: $grayDark;

    &:hover {
      background-color: $greyHover;
    }
  }

  .icon-navigation-wrapper {
    flex: 1;
    margin-top: 20px;

    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        max-width: 46px;
        border-radius: 5px;
        margin: 5px 0;

        &:hover {
          background-color: $greyHover;
        }
      }
    }
  }
}
