.sidebar-container .minimize-dashboard-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  text-align: left;
  margin: 0;
  height: 100%;
  width: 70px; }
  .sidebar-container .minimize-dashboard-wrapper .icon-buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; }
  .sidebar-container .minimize-dashboard-wrapper .icon-navigation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; }
  .sidebar-container .minimize-dashboard-wrapper .bottom-icons {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.sidebar-container .top-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .sidebar-container .top-icons img {
    width: 55px;
    margin: 29px auto 15px; }
    .sidebar-container .top-icons img:hover {
      background-color: #08367C;
      border-radius: 50%; }

.sidebar-container .bottom-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column; }

.sidebar-container .icon-buttons-wrapper .nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px; }

.sidebar-container .icon-buttons-wrapper .nav-button a {
  display: flex;
  justify-content: center;
  align-items: center; }

.sidebar-container .icon-buttons-wrapper .nav-button i {
  display: flex;
  justify-content: center;
  align-items: center; }

.sidebar-container .icon-buttons-wrapper .nav-button.toggle-add-page-modal-btn {
  color: white; }
