#menu {
 
  list-style: none; 
  margin: 0; 
  padding-left: 0; 
  border-bottom: 2px solid #cfcfcf;
}
.menuTab > a {
  
  text-decoration: none;
  color:#333333;
  padding-bottom: 0.25em;
  border-bottom: 2px solid #cfcfcf;
   }
.menuTab > a.active {
  border-bottom: 2px solid #1a47a0;
  color: #1a47a0;
}
.menuTab > a:hover {
  
  color: #1a47a0;
}

.headerDashboard {
  height: 150px;
  text-align: left;
  margin-right: 5%;
}

#menu > li { 
  display: inline;
  padding-right: 2em;
  padding-bottom: 0.25em;
 }


