.recent-work-list-item {
    #recent-work-content-icon {
        font-size: 16px;
    }
    .recent-work-name-deleted {
        color: #ee7d7d;
    }
    .recent-work-disabled-link {
        pointer-events: none; 
    }
}