@import "src/globalStyles/variables.scss";


.sidebar-container{
  .sidebar-wrapper{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    text-align: left;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: $primaryColor;
    ul{
      padding-left: 0;
      list-style: none;
      width: 90%;
    }
    .tabs-wrapper{
      ul{
        margin-top: 35px;
        margin-left: 10px;
      }
    }
    .icon-buttons-wrapper{
      padding: 0 5px;
      background-color: $primaryColor;
    }
    h1{
      padding-left: 10px;
    }
  }
  .tabs-wrapper{
    width: 80%;
  }
  .minimize-dashboard-wrapper{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    text-align: left;
    margin: 0;
    height: 100%;
    width: 70px;
  }

  .icon-buttons-wrapper{
    height: 100%;
  }
}

.sidebar-container{
  height: 100%;
}
.Resizer{
  z-index: 9999;
  width: 2px;
  cursor: w-resize
}
.sidebar-blue-schema{
  height: 100%;
  .sidebar-container{
  .sidebar-wrapper, .minimize-dashboard-wrapper{
  background-color: $primaryColor;
  }
  .tabs-wrapper{
    ul>li{
      color: white;
    }
    a, a:visited, a:active, a:hover{
      text-decoration: none;
      color: white;
    }
    .nav-button:hover{
      background-color: $primalHover;
    }
  }
  h1{
    color: white;
    padding: 0;
  }
  .Resizer{
    color: $primaryColor
  }
  .icon-buttons-wrapper{
    a, a:visited, a:active, a:hover {
      text-decoration: none;
      color: white;
    }
  }
  .icon-buttons-wrapper{
    .nav-button:hover{
      background-color:$primalHover;
    }
  }
}
}

.sidebar-grey-schema{
  .sidebar-container{
  .sidebar-wrapper, .minimize-dashboard-wrapper {
    background-color: $greyBlog;
  }
    .tabs-wrapper {
      a, a:visited, a:active, a:hover{
        text-decoration: none;
        color: $blueText;
      }
      .nav-button:hover{
        background-color: $greyHover;
      }
    }

  h1{
    color: $blueText;
  }
  .Resizer{
    color: $greyBlog
  }
  .icon-buttons-wrapper{
    .nav-button:hover{
      background-color:$primalHover;
    }
  }
  .minimize-dashboard-wrapper{
    .icon-buttons-wrapper{
      .nav-button:hover{
        background-color:$greyHover;
      }
      a, a:visited, a:active, a:hover {
        text-decoration: none;
        color: $blueText;
      }
    }
  }
  .icon-buttons-wrapper{
    a, a:visited, a:active, a:hover {
      text-decoration: none;
      color: white;
    }
  }
}
}
