@import "src/globalStyles/variables.scss";
@import url('https://fonts.googleapis.com/css?family=Belleza');


.sidebar-container{
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
  .sidebar-wrapper{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    text-align: left;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: $primaryColor;
  }
  .icon-buttons-wrapper {
    padding: 0 5px;
    // background-color: $primaryColor;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h1 {
      margin: 15px 0 30px 10px;
  }
  .tabs-wrapper {
    width: 100%;

    a, a:visited, a:active, a:hover{
      text-decoration: none;
      color: white;
    }
  }
  .minimize-dashboard-wrapper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    text-align: left;
    margin: 0;
    height: 100%;
    width: 70px;
  }

  &.space-minimized {
    .icon-buttons-wrapper {
      width: 100%;

      .icon-navigation-wrapper {
        flex: 1;
        margin-top: 20px;

        .tabs-wrapper {
          .logo {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              max-width: 46px;
              border-radius: 5px;
              margin: 5px 0;
            }
          }
        }
      }
    }
  }
}

.sidebar-container {
  height: 100%;
}
.Resizer {
  min-width: 2px;
  cursor: col-resize;
  transition: background-color 300ms ease-in-out 200ms;

  &:hover {
    background-color: $blue;
  }
}
.sidebar-blue-schema {
  height: 100%;
  .sidebar-wrapper, .minimize-dashboard-wrapper {
  background-color: $primaryColor;
  }
  .top-icons {
    a, a:visited, a:active, a:hover {
      text-decoration: none;
      color: white;
    }
  }
  .nav-button {
    > i, {
      color: white;
      cursor: pointer;
    }
  }
  .tabs-wrapper {
    a, a:visited, a:active, a:hover {
      text-decoration: none;
      color: white;
    }
  }
  .nav-button:hover {
      background-color: $primalHover;
  }
  h1{
      color: white;
      padding: 0;
      margin-top: 35px;
      font-family: 'Belleza', sans-serif;
      text-transform: uppercase
  }
  .Resizer {
      background-color: $primaryColor
  }
}


.sidebar-grey-schema{
  .sidebar-wrapper, .minimize-dashboard-wrapper {
    background-color: $greyBlog;

    .top-icons img:hover {
      background-color: $greyHover;
    }
  }

  // TODO: check
    // .tabs-wrapper {
    //   a, a:visited, a:active, a:hover{
    //     text-decoration: none;
    //     color: $blueText;
    //   }
    //   .nav-button:hover{
    //     background-color: $greyHover;
    //   }
    // }

  h1{
    color: $blueText;
  }

  .Resizer{
    background-color: $greyBlog
  }

  .icon-buttons-wrapper{
    .nav-button:hover{
      background-color: $greyHover;
    }

    i, a, a:visited, a:active, a:hover {
      text-decoration: none;
      color: $grayDark;
    }
  }
  // TODO: check
  // .minimize-dashboard-wrapper{
  //     .nav-button:hover{
  //       background-color:$greyHover;
  //     }
  //     a, a:visited, a:active, a:hover {
  //       text-decoration: none;
  //       color: $blueText;
  //     }
  // }
}
