@import 'globalStyles/variables.scss';

.sidebar {
  background: $grayLight;
  width: 20%;
  color: $grayDark;
}

.sidebar__header {
  margin: 15px;
  padding: 10px 10px 10px 3px;
  display: flex;
}

.sidebar__header:hover {
  background: $grayBackground;
  cursor: pointer;
}

.sidebar__header--icon {
  color: $white;
  background:$blue;
  padding: 7px 10px;
  border: 2px solid $white;
  border-radius: 6px;
}

.sidebar__header--name {
  line-height: 2.3;
  margin-left: 7px;
  font-weight: 600;
}

.sidebar__main {
  margin: 15px;
}

.sidebar__main__navbar {
  margin-bottom: 15px;
}

.sidebar__main__navbar__section {
  display: flex;
  text-decoration: none;
  color: $grayDark;
  padding: 10px;
}

.sidebar__main__navbar__section:hover {
  background: $grayBackground;
  cursor: pointer;
}

.sidebar__main__navbar__section--name {
  margin-left: 20px;
}

.current {
  background: #eaecef;
  color: $primaryColor;
}

