.minimize-dashboard-wrapper .icon-navigation-wrapper {
  height: 50%; }

.minimize-dashboard-wrapper .top-icons {
  height: 20%; }

.minimize-dashboard-wrapper .bottom-icons {
  height: 30%; }

.sidebar-wrapper .top-icons, .sidebar-wrapper .bottom-icons {
  height: 50%; }

.bottom-icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column; }

.icon-buttons-wrapper button {
  background-color: #0044a9;
  border: none;
  color: white;
  font-size: 20px;
  height: 40px;
  width: 40px; }

.icon-buttons-wrapper button:hover {
  background-color: #08367c; }
