.auth-main {
  background-color: #0044a9;
  margin: 0;
  padding: 0;
  height: 100%; }

.auth-content {
  min-height: 500px;
  height: 100vh;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.auth-signup {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 48px;
  display: flex;
  flex-direction: column; }

.auth-footer {
  color: #333333;
  text-align: center;
  cursor: pointer; }
  .auth-footer:hover {
    text-decoration: underline; }

.auth-header h2 {
  text-align: center;
  color: white;
  margin-top: 30px; }
