@import "globalStyles/variables.scss";

.dashboard-spaces {
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  .spaces-header {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    button.create-space-btn {
      margin-right: 15px;
    }
  }
  .spaces-body {
    display: flex;
    .space-item {
      img {
        border-radius: 3px;
      }
    }
    .spaces-sidebar {
      display: flex;
      flex-direction: column;
      border-right: 1px solid #ccc;
      .active {
        font-weight: 500;
        background-color: #f4f5f7;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          font-weight: 400;
          width: 200px;
          cursor: pointer;
          padding: 15px 20px;
          &:hover {
            background-color: #f4f5f7;
          }
          a {
            color: #3572b0;
            line-height: 1.14;
            word-wrap: break-word;
          }
        }
      }
    }
    .spaces-content-body {
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      .header-spaces-content {
        display: flex;
        justify-content: space-between;
      }
      .body-spaces-content {
        margin-top: 10px;
        table {
          border-collapse: collapse;
          tr.space-item {
            border: 1px solid #ccc;
          }
          .name-heading {
            padding-left: 10px;
          }
          width: 100%;
          tbody:before {
            content: "-";
            display: block;
            line-height: 1em;
            color: transparent;
          }
          tbody > tr {
            // box-shadow: 0px 1px 0px 0px #ccc;
            padding: 5px 10px;
          }
        }
      }
    }
  }
}
