.header {
  display: flex;
  padding: 25px 30px 30px 50px;
  justify-content: space-between; }

.header--name {
  font-size: 28px;
  color: #333333; }

.space-button {
  background: #f4f5f7;
  color: #475774;
  padding: 7px;
  border-radius: 2px;
  margin-left: 10px; }

.space-button:hover {
  background: #eaecef;
  cursor: pointer; }
