.group{
      width: 100%;    
}
td.group-modal-label{
    padding-right: 20px;
    padding-bottom: 10px;
}
.group-modal-label{
    text-align: right;
    vertical-align: bottom;
    span{
        color: red;
        font-size: 18px;
    }
}