.select-space-for-page-creation-block{
  display: flex;
  padding: 10px;
  color: #333;
  border-bottom: 1px solid #ccc;
  align-items: center;

  select{
    color: #333;
    margin-left: 2rem;
    border: 1px solid #ccc;
    height: 2.14285714em;
    line-height: 1.4285714285714;
    background: #f5f5f5;
    width: 30%;
    min-width: 200px;
  }
}