.input {
  background-color: #fafbfc;
  border-radius: 5px;
  border-style: solid;
  border-color: #f4f5f7;
  padding: 6px;
  margin-top: 24px;
  height: 24px; }

input[type='text'],
input[type='email'],
input[type='password'] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out; }
  input[type='text']:focus,
  input[type='email']:focus,
  input[type='password']:focus {
    box-shadow: 0 0 7px #51cbee; }
.input.button {
  border: 0;
  height: 39px;
  margin-top: 24px;
  color: #ffffff;
  background-color: #0052CC;
  cursor: pointer;
  transition: background-color 200ms; }
  .input.button:hover {
    background-color: #0065FF; }
