dashboard__content__spaces{
  margin-left:10px;
}
.dashboard__content__side > .header {
  border-bottom: 2px solid #cfcfcf;
  
}
.header {
  margin-top: 2.9em;
}
.header > button {
  margin-top: 1.7em;
  margin-left: 0;
}
.welcome {
  display: flex;
  flex-direction: column;
}
.welcome > span {
  font-weight: 400;
}
.welcome > img {
  width: 100px;
  height: 100px;
  padding-left:30%;
}