@import 'src/globalStyles/variables.scss'; 

.page-editor-wrp{
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;

  input.page-title-input{
    max-width: 100%;
    margin: 0;
    min-height: 32px;
    line-height: 30px;
    padding: 0;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: none;
    border: none;
    box-shadow: none;
    display: inline-block;
    font-size: 28px;
    height: 32px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .page-editor-footer{
    justify-content: flex-end ;
  }

  .page-editor-header{
    justify-content: space-between ;
    border-bottom: 1px solid #ccc;
  }

  .page-editor-footer, .page-editor-header{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 20px;
    height: 90px;
    margin: 0;
    background-color: $grayLight;
  }

  .page-editor-footer{
    button{
        box-sizing: border-box;
        background: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 3.01px;
        color: #333;
        cursor: pointer;
        display: inline-block;
        font-family: inherit;
        font-size: 14px;
        font-variant: normal;
        font-weight: normal;
        height: 2.14285714em;
        line-height: 1.42857143;
        padding: 4px 10px;
        text-decoration: none;
        vertical-align: baseline;
        white-space: nowrap;
        margin-left: 10px;

        &.accept-button{
            background: $primaryColor;
            border-color: transparent;
            color: white;
            font-weight: bold;
        }
    }
  }

  .breadcrumbs{
    padding-left: 10px;
    display: inline-block;
    margin-top: 0;
    font-size: 16px;

     span{
      color: #0052cc;
      padding:2px;
      cursor: pointer;
      &:hover{
        color: black
      }
    }
  }

  .page-settings-btn-wrp{
    padding-left: 1rem;
    button{
      cursor: pointer;
      position: relative;      
      display: inline-block;
      font-family: inherit;
      font-size: 14px;
      font-variant: normal;
      font-weight: normal;
      height: 2.14285714em;
      line-height: 1.42857143;
      border: 1px solid #ccc;
      border-radius: 3px;
      background-color: $grayLight;
      color: $gray;
      margin-left:0.5rem;

      &:hover{
        background-color: #ccc;

        &:after{
          position: absolute;
          background: $grayButtons;
          color: white;
          top: 30px;
          left: -30px;
          right: -30px;
          content: attr(data-hover-text-help )
        }
      }
    }
  }
  
  .page-menu{
    display:flex;
    align-items: center;
  }

  .additional-icons{
    display:flex;
     span{
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: inherit;
      font-size: 14px;
      height: 2.14285714em;
      width:2.14285714em;
      line-height: 1.42857143;
      border: 1px solid $grayLight;;
      background-color: $grayLight;
      color: #707070;
      margin-left:0.5rem;
      text-align: center;
      vertical-align: middle;
      position: relative;

      &:hover{
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #ccc;

         &:after{
            position: absolute;
            background: $grayButtons;
            color: white;
            top: 31.5px;
            left: -30px;
            right: -30px;
            content: attr(data-hover-text-help )
          }

      }

      &.avatar-wrp{
        background-color: $grayLight;
        &:hover{
          border: 1px solid $grayLight;
        }
      }
     }
     
     span.avatar-wrp ~ span:hover:after{
        left: -120px;
        right: -2px;
      }

     img{
       height:2.14285714em;
     }
  }
}